<body data-bs-spy="scroll" data-bs-target=".navbar">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="background-color: black !important;">
        <a class="navbar-brand" href="#">
            <h3 class="text-uppercase text-light fw-semibold ml-3">
                home</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#hero">Bem vindo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Sobre nós</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#reviews">Depoimentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">Time</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contato</a>
                    </li>
                </ul>
                <div class="d-flex justify-content-end">
                    <a href="#" class="btn btn-brand ms-lg-3" id="bg-hover">Empresas</a>
                    <a href="#" class="btn btn-brand ms-lg-3" id="bg-hover">HOME FUNC</a>
                </div>

            </div>
        </div>
    </nav>


    <!-- cadastre-se main -->
    <section id="hero" [ngStyle]="{'background-image': 'url(' +  backgroundImageDemaisTelas + ')'}"
        class="min-vh-100 d-flex align-items-center text-center">
        <form class="container" id="form-login" [formGroup]="gerarForm">
            <h1 class="text-white">
                Cadastre-se
            </h1>
            <div class="row">
                <div class="form-group" class="col-lg-6">
                    <label for="cep">Pessoa Física ou Jurídica?</label>
                    <div class="form-group">
                        <select class="custom-select" required>
                            <option value="1">Física</option>
                            <option value="2">Jurídica</option>
                        </select>
                        <div class="invalid-feedback">Example invalid custom select feedback</div>
                    </div>
                </div>
                <div class="form-group" class="col-lg-6">
                    <label for="cep">Nome</label>
                    <input class="form-control" formControlName="nome" type="text" id="inputName">
                </div>
                <div class="form-group" class="col-lg-6">
                    <label for="cep">CPF ou CNPJ</label>
                    <input type="text" class="form-control" id="cpf" name="cpf">
                </div>
                <div class="form-group" class="col-lg-6">
                    <label for="cep">E-mail</label>
                    <input type="email" class="form-control" formControlName="login" type="text">
                </div>
            </div>
            <hr style="border: 2px solid #0000007d;">
            <div class="row">
                <div class="form-group" class="col-lg-6">
                    <label for="cep">CEP</label>
                    <input type="text" class="form-control" id="cep" name="cep" [(ngModel)]="cep"
                        (input)="buscarEndereco(cep)" (blur)="cep === '' && limparCampos()">
                </div>
                <div class="form-group" class="col-lg-6">
                    <label for="cidade">Cidade</label>
                    <input readonly type="text" class="form-control" id="cidade" name="cidade" [(ngModel)]="cidade">
                </div>
                <div class="form-group" class="col-lg-6">
                    <label for="logradouro">Logradouro</label>
                    <input readonly type="text" class="form-control" id="logradouro" name="logradouro"
                        [(ngModel)]="logradouro">
                </div>
                <div class="form-group" class="col-lg-6">
                    <label for="estado">Estado</label>
                    <input readonly type="text" class="form-control" id="estado" name="estado" [(ngModel)]="estado">
                </div>
                <div class="form-group" class="col-lg-6">
                    <label for="estado">Número</label>
                    <input readonly type="text" class="form-control" id="numeroCsa" name="estado" [(ngModel)]="estado">
                </div>
            </div>
            <hr style="border: 2px solid #0000007d;">
            <div class="row">
                <div class="form-group" class="col-lg-12">
                    <label for="cep">Senha</label>
                    <input type="password" class="form-control" formControlName="senha" type="password">
                </div>
                
            </div>
            <hr style="border: 2px solid #0000007d;">
            <div class="form-group" class="">
                <button type="submit" class="btn btn-primary mb-2 col-lg-12 mt-2" (click)="saveUser()">Enviar cadastro</button>
            </div>
        </form>

    </section>


</body>